p{
    font-size:16px;
    text-align: justify;
    text-align-last: left;
    text-indent: 40px;

}

.def {
    background-color: snow;
    font-weight: bold;
    color: firebrick;
}

.unit {
  font-weight: bold;
}

.important{
   color: black;
border: 1px dotted mistyrose;
  padding: 15px;
  background: mistyrose;
  background-clip: padding-box;
    position: absolute;
  right: 10px;
  width: 600px;
}

.black{
color: black; 
}

.ref{
color: slategray;  
}

.acknow{
    border: 3px dotted mistyrose;
      box-sizing: border-box;
    padding: 5px;
     position: relative;
   width: 650px;
    font-size:18px;
    color: slategray;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}
        
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #F8F8FF;
}        

.margin_first {
    margin-top: 25px;
}
.head {
    font-size: 1.6em;
    font-weight: bold;
}
.thema {
    font-weight: bold;
    color: deepskyblue;
}
.value {
    font-style: italic;
}

.super {
    font-size:smaller;
    vertical-align: super;
}

.sub {
    font-size:smaller;
    vertical-align: sub;
}

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
float: none;
}

div.gallery img {
  width: 100%;
  height: auto;
}

img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

div.desc {
  padding: 10px;
  text-align: center;
     border: 1px solid #ccc;
}

.eq {
    font-size:18px;
    text-align: center;
    border: 2px solid firebrick;
  border-radius: 8px;
  padding: 5px;
    background: mistyrose;
    position: relative;
    left: 40;
    right: auto;
    
    /*grid-column-start: 2;
    grid-column-end: 3;
    float: left;
    */
};

.eqq {
outline-style: double;
       }

.eeq {
    text-align:center;
border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: aliceblue;
}

custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

.list-numbered {
  list-style: none;
  margin-left: 1em;
  counter-reset: line;
}

.list-numbered > li {
  position: relative;
  margin-bottom: 1.5em;
}

.list-numbered > li:before {
	position: absolute;
	left: -2.25em;
	display: inline-block;
  width: 22px;
	height: 22px;
	margin-right: 0.5em;
  background-color: #B53C2C;
	border-radius: 50%;
	color: #fff;
	text-align:center;
  line-height: 1.25em;
	counter-increment: line;
	content: counter(line);
}

.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: dodgerblue;
    transform-origin: bottom left;
    transform: rotate(45deg);
}


/*
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    text-align: center;
}
*/
