frame {
    overflow: scroll;
    border: 1px solid blue;
}
#a{
   display: flex; 
    justify-content: center ;
    background-color: yellow;
    overflow-y: scroll;
}
#b .col1, {
    width: 50%;
    float: left;  
     height: 400px;
}
