frame {
    overflow: scroll;
  
}
.titleformat {
   color: blue; 
}
.a{
   display: flex; 
    height: 100%;
    justify-content: center ;
    background-color: yellow;
    overflow-y: scroll;
    .c{
   display: flex; 
    justify-content: left ;
    overflow-y: scroll;
}
#b .col1, {
    width: 50%;
    float: left;  
     height: 400px;
}
