frame {
    overflow: scroll;
    border: 1px solid blue;
}
#a{
    float: center;
    background-color: #222;
    overflow-y: scroll;
}
#b .col1, {
    width: 50%;
    float: left;  
     height: 400px;
}
